body {
    font-family: Arial;
    text-align: center;
    background: #0f172a;
    color: white;
}

.container {
    margin-top: 50px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    font-size: 18px;
}
